@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500;600&family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    section, aside {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    nav li {
        width: 100%;
        text-align: center;
        float: none;
    }
}

.container{
    background-image: url(images/temp2.jpg);
}
/* inicio do css do header e menu sidebar*/
:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action:  "Muli", serif;
}
.hamburguer {
    /*background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 1.5s;
    
}

.show-menu .hamburguer{
    right: 16rem;
}
.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;

}
header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba( 0, 0, 0, .8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: #fff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    font-family: var(--font-action);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #964f2c;  
    background: -webkit-linear-gradient(to right, #c7681b, #964f2c);  
    background: linear-gradient(to left, #c7681b, #964f2c);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}
.banner button a{
    color: #fff
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.sidebar.show-menu{
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-menu {
    background-color: rgb(33, 185, 46);
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem;

}

.menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover {
    color: #a044ff ;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    background-color: #000 ;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover {
    background-color: #a044ff;
}
/* fim do css do header e menu sidebar*/

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;

  }

  .sessao-header h1 {
    font-family: var(--font-primary);
    
    color: #4b4b4b;
    border-bottom: solid 3px #964f2c;
    margin-bottom: 1.5rem;
  }

  /*card com as fotos do centro*/
  .quemsomos{
      display: flex;
      justify-content: space-evenly;
      background-color:#6a3093;
  }

  /*fundo das imagens centrais da seção quem somos
  .card{
      width: 18rem;
      height: 25rem;
      background-color:#f5f5f5;
      
  }

  .card-img-wrapper{
      width: 100%;
      height: 100%;
      background-color: #262626;
      border-radius: 5rem;
  }
  .card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    opacity: .8;
    background-color: #f5f5f5;
}
.card-info{
    position: absolute;
    padding: 2rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .4);

}
.card-infor h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}
fim da sessão quem somos*/

/*Inicio da contagem regressiva*/
.countdown {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
    justify-content: center;
    gap: 10px;
    padding: 10px;
    
  }
  
  .countdown li {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    padding: 1rem;
    color: rgb(0, 238, 99);
    background: #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
 
 

   /*Fim da contagem regressiva*/

/* Inicio do css da galeria de fotos */


.slider{
    position: relative;
    background: #000116;
    width: 800px;
    min-height: 500px;
    overflow: hidden;
    border-radius: 10px;
  }

  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
    
  }
  
  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right: 8px;
  }
  
  
  .navigation{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: #4285F4;
  }
  
  @media (max-width: 900px){
    .slider{
      width: 100%;
    }}
   /*FIm da galeria de fotos*/


/*footer*/
.container-footer{
	max-width: 1120px;
	margin:auto;

}
.row{
	display: flex;
	flex-wrap: wrap;
   
}
ul{
	list-style: auto;
   
}
.footer{
	background-color: #24262b;
    padding: 18px 0;
}
.footer-col{
   width: 25%;
   padding: 0 11px;
   
}

.footer-col a::before{
	content: '';
	position: center;
	bottom: -4px;
	background-color: #964f2c;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li a{
	font-size: 50px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 800;
	color: #bbbbbb;
	display: flex;
	transition: all 0.3s ease;
    margin-bottom: 35px;
    position: left;
}
.footer-col ul li a:hover{
	color: #964f2c;
	padding-left: 8px;

}
div.container-footer {
    height: 10em;
    position: relative }
div.container-footer a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
